/* Estilos da nova seção */
#clientes {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

#clientes h2 {
    font-size: 2em;
    color: #FF6347;
    margin-bottom: 20px;
}

.clientes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.cliente {
    background-color: #fff;
    padding: 20px;
    width: 250px;
    border: 2px solid #FF6347;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cliente img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cliente p {
    font-size: 1em;
    color: #333;
}

.cliente strong {
    color: #FF6347;
}
